.app-card {
  &-figure {
    width: max-content;
    margin: 0;
  }

  &-image {
    height: 13rem;
    width: 8rem;
  }

  &-title {
    color: #fff;
    font-family: Lato, Helvetica Neue, helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 0;
    margin-bottom: 2rem;
    width: 8rem;
  }

  @media (min-width: 2560px) {
    &-image {
      height: 25rem;
      width: 20rem;
    }

    &-title {
      font-size: 2rem;
      width: 20rem;
    }
  }
}
