.app-navbar {
  height: 3.75rem;
  background-color: #23252b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 2;

  .home-link {
    display: flex;
    padding-left: 1.25rem;

    svg {
      margin-right: 0.5rem;
    }

    span {
      display: none;
    }

    @media (min-width: 768px) {
      span {
        display: block;
      }
    }
  }

  .search-bar {
    padding-right: 1.25rem;
  }

  .list-result {
    position: fixed;
    max-height: 18rem;
    overflow-y: auto;
    scrollbar-color: white black;
    scrollbar-width: thin;
    right: 0;
    width: 50%;

    &-item {
      cursor: pointer;
      display: flex;
      align-items: center;

      img {
        margin-right: 0.5rem;
      }
    }
  }
}
