.app-navbar {
  height: 3.75rem;
  background-color: #23252b;
  display: flex;
  align-items: center;
  position: fixed;  
  width: 100vw;
  z-index: 2;

  a {
    display: flex;
    padding-left: 1.25rem;

    svg {
      margin-right: 0.5rem;
    }

    span {
      display: none;
    }

    @media (min-width: 768px) {
      span {
        display: block;
      }
    }
  }
}
