.app-navbar {
  height: 3.75rem;
  background-color: #23252b;
  display: flex;
  align-items: center;
  a {
    display: flex;
    padding-left: 1.25rem;

    svg {
      margin-right: 0.5rem;
    }
  }
}
