<div class="app-manga-detail">
  <div class="container">
    <picture>
      <img cImg fluid src="{{ mangaDetail.image }}" fluid alt="" />
      <figcaption>
        <div class="app-manga-detail-info">
          <div class="app-manga-detail-title">
            <label>Title:</label>
            <p>{{ mangaDetail.title }}</p>
          </div>

          <div class="app-manga-detail-description">
            <label>Description:</label>
            <p>{{ mangaDetail.description }}</p>
          </div>

          <div class="app-manga-detail-type">
            <label>Type:</label>
            <p>{{ mangaDetail.type }}</p>
          </div>

          <div class="app-manga-detail-yearLauch">
            <label>Lauching year:</label>
            <p>{{ mangaDetail.yearLauch }}</p>
          </div>

          <div class="app-manga-detail-status">
            <label>Status:</label>
            <p>{{ mangaDetail.status }}</p>
          </div>

          <div class="app-manga-detail-ageRating">
            <label>Age rating:</label>
            <p>{{ mangaDetail.ageRating }}</p>
          </div>

          <div class="app-manga-detail-genre">
            <label>Genre: </label>
            @for (genre of genreList; track genre) {
            <pre><span>{{ genre }}</span> </pre>
            }
          </div>
        </div>
      </figcaption>
    </picture>

    <section>
      <ul class="app-manga-detail-chapter-list">
        @for (chapter of chapterList; track $index) {
        <li>
          <a [routerLink]="['/chapter', chapter.id]">
            @if (chapter.attributes.volume) {
            <span> Volume - {{ chapter.attributes.volume }} </span>
            }
            <span>
              {{ chapter.type | titlecase }}:
              {{ chapter.attributes.chapter || "none" }}
            </span>
            <span> Pages: {{ chapter.attributes.pages }} </span>
            <span>
              Published At: {{ chapter.attributes.publishAt | date }}
            </span>
          </a>
        </li>
        <hr />
        }
      </ul>
    </section>

    @if (chapterList.length > 0) {
    <footer class="app-manga-detail-pagination">
      <c-pagination aria-label="Page navigation example">
        <li cPageItem (click)="previousPage()">
          <a cPageLink>Previous</a>
        </li>
        <li cPageItem>
          <a cPageLink (click)="setPage(1)">1</a>
        </li>
        <li cPageItem>
          <a cPageLink (click)="setPage(50)">2</a>
        </li>
        <li cPageItem>
          <a cPageLink (click)="setPage(100)">3</a>
        </li>
        <li cPageItem (click)="nextPage()">
          <a cPageLink>Next</a>
        </li>
      </c-pagination>
    </footer>
    }
  </div>
</div>
