.app-manga-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.75rem;

  picture {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;

    img {
      margin-right: 0;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      margin-top: 0.5rem;

      label {
        font-weight: 800;
        padding-right: 0.5rem;
      }

      p {
        text-align: justify;
      }
    }
  }

  &-genre {
    pre {
      margin-bottom: 0;

      span {
        padding-right: 0;
      }
    }
  }

  &-order {
    display: flex;
    align-items: flex-end;

    svg {
      margin-left: 0.5rem;
    }
  }

  &-chapter-list {
    a {
      margin-top: 1rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
  }

  .list-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-list-header {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .dropdown-menu {
    max-height: 18rem;
    overflow-y: auto;
  }

  .language {
    width: 15rem;
  }
  
  .language-flag {
    border-radius: 50%;
    width: 2rem;
    margin-right: 0.5rem;
  }

  .page-item {
    --cui-pagination-bg: #23252b !important;
    .page-link {
      --cui-pagination-color: white !important;
    }
  }

  .center-loading {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .align-order {
    display: flex;
    justify-content: flex-end;
  }

  c-pagination {
    a {
      cursor: pointer;
    }
  }

  @media (min-width: 768px) {
    picture {
      flex-direction: row;
      align-items: start;

      img {
        margin: 0.5rem 0.5rem 0 0;
      }
    }

    &-chapter-list {
      a {
        flex-direction: row;
      }
    }
  }
}
