<div class="app-manga-detail">
  <div class="container">
    <picture>
      <img cImg fluid src="{{ mangaDetail.image }}" fluid alt="" />
      <figcaption>
        <div class="app-manga-detail-info">
          <div class="app-manga-detail-title">
            <label>Title:</label>
            <p>{{ mangaDetail.title }}</p>
          </div>

          <div class="app-manga-detail-description">
            <label>Description:</label>
            <p>{{ mangaDetail.description }}</p>
          </div>

          <div class="app-manga-detail-type">
            <label>Type:</label>
            <p>{{ mangaDetail.type }}</p>
          </div>

          <div class="app-manga-detail-yearLauch">
            <label>Lauching year:</label>
            <p>{{ mangaDetail.yearLauch }}</p>
          </div>

          <div class="app-manga-detail-status">
            <label>Status:</label>
            <p>{{ mangaDetail.status }}</p>
          </div>                    

          <div class="app-manga-detail-ageRating">
            <label>Age rating:</label>
            <p>{{ mangaDetail.ageRating }}</p>
          </div>

          <div class="app-manga-detail-genre">
            <label>Genre: </label>
            @for (genre of teste; track genre) {
            <pre><span>{{ genre }}</span> </pre>
            }
          </div>
        </div>
      </figcaption>
    </picture>
  </div>
</div>
