<div class="app-read-chapter">
  <c-dropdown>
    <button cButton cDropdownToggle color="secondary">Chapter List</button>
    <ul cDropdownMenu>
      @for (chap of chapterList; track $index) {
      <li>
        <a cDropdownItem (click)="onChapterClick(chap.id, chap.others)">
          {{ chap.chapter }}
        </a>
      </li>
      }
    </ul>
  </c-dropdown>
  @for (image of images; track $index) {
  <figure>
    <img cImg fluid src="{{ image }}" alt="" />
  </figure>
  }
  <app-go-to-top></app-go-to-top>
</div>
