.app-read-chapter {
  display: flex;
  flex-direction: column;
  align-items: center;

  figure {
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  c-dropdown {
    margin: 0 1rem;
  }

  button {
    display: flex;
    align-items: center;
  }

  .chapter-control {
    display: flex;
    margin: 4rem 0 0.5rem 0;
  }

  .dropdown-menu {
    max-height: 18rem;
    overflow-y: auto;
    scrollbar-color: white black;
    scrollbar-width: thin;
  }
}
