.app-read-chapter {
  display: flex;
  flex-direction: column;
  align-items: center;

  figure {
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  c-dropdown{
    margin-top: 4rem;
  }

  .dropdown-menu {
    max-height: 18rem;
    overflow-y: auto;
  }
}
