/* You can add global styles to this file, and also import other style files */
@import "@coreui/coreui/scss/coreui";
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body,
p {
  margin: 0;
  color: #fff;
  font-family: Lato, Helvetica Neue, helvetica, sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  background-color: black;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
}

.container {
  margin: 0;
  padding: 0 1.25rem;
  width: 100vw;
  max-width: none;
}
